<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="sidenav.css">
    <link rel="stylesheet" href="content.css">
    <link rel="stylesheet" href="media_screen.css">
    <link rel="stylesheet" href="list.css">
</head>

<body>
    <div class="sidenav">
        <a href="#home">Home</a>
        <a href="#news">Data</a>
        <a href="#contact">Profil</a>
        <a href="#about">Logout</a>
    </div>
    <div class="content">
        <div class="row">
            <div class="column book_tittle">
                <p>INPUT</p>
            </div>
            <div class="column book_tittle">
                <p>RIWAYAT</p>
            </div>
        </div>
        <!-- list start -->
        <div class="list">
            <input type="checkbox" id="segment-1">
            <progress value="50" max="100"></progress>
            <label for="segment-1" class="list_judul">
                <div class="title">
                    <span class="left">Post by <a href="www.google.com">Qodri Almurri</a> (21-01-2021) Pemesan by <a
                            href="www.google.com">Sarjowo</a></span>
                    <span class="right">Update 5s Ago</span>
                    <br>
                </div>
                <h1>Catatan Seorang Demonstran Catatan Seorang Demonstran Catatan Seorang Demonstran Catatan Seorang
                    Demonstran Catatan Seorang Demonstran - Seo Hok Gie</h1>
            </label>
            <div class="list_detail">
                <div>
                    <img src="neurobehavior [belakang].jpg">
                    <img src="neurobehavior [belakang].jpg">
                </div>
                <div>
                    <table>
                        <h1>[No] Catatan Seorang Demonstran Catatan Seorang Demonstran Catatan Seorang Demonstran
                            Catatan
                            Seorang Demonstran Catatan Seorang Demonstran - Seo Hok Gie</h1>
                        <tr>
                            <th>Pemesan: </th>
                            <td>Sarjowo</td>
                        </tr>
                        <tr>
                            <th>Instansi: </th>
                            <td>UNS Press</td>
                        </tr>
                        <tr>
                            <th>Kelengkapan: </th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Cover Isi: </th>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- list end -->
    </div>
</body>
<script src="test.js"></script>

</html>