<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="sidenav.css">
    <link rel="stylesheet" href="content.css">
    <link rel="stylesheet" href="media_screen.css">
</head>

<body>
    <div class="sidenav">
        <a href="#home">Home</a>
        <a href="#news">Data</a>
        <a href="#contact">Profil</a>
        <a href="#about">Logout</a>
    </div>

    <div class="content">
        <div class="row">
            <div class="column book_tittle">
                <p>JUDUL</p>
            </div>
            <div class="column book_tittle">
                <p>JUDUL</p>
            </div>
            <div class="column book_tittle">
                <p>JUDUL</p>
            </div>
        </div>
    </div>
</body>
<script src="test.js"></script>

</html>