<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="sidenav.css">
    <link rel="stylesheet" href="content.css">
    <link rel="stylesheet" href="media_screen.css">
    <link rel="stylesheet" href="tooltip.css">
    <link rel="stylesheet" href="list.css">
</head>

<body>
    <div class="sidenav">
        <a href="#home">Home</a>
        <a href="#news">Data</a>
        <a href="#contact">Profil</a>
        <a href="#about">Logout</a>
    </div>
    <div class="content">
        <div class="row">
            <div class="column book_tittle">
                <p>JUDUL</p>
            </div>
            <div class="column book_tittle">
                <p>JUDUL</p>
            </div>
        </div>
        <!-- list start -->
        <p>LIST JUDUL</p>
        <div class="list">
            <input type="checkbox" id="segment-1">
            <label for="segment-1" class="list_judul">
                <span>Dibuat <a href="www.google.com">qodri almurri</a></span>
                <span>Tanggal <a>20-20-2020</a></span>
                <p>Bojomu Semangatku</p>
            </label>
            <div class="list_detail">
                <table>
                    <tr>
                        <th>Train / Bus / Flight</th>
                        <td>LO0024 (LOT - Polish Airlines)</td>
                    </tr>
                    <tr>
                        <th>Departure</th>
                        <td>21:40, 18.09.2017</td>
                    </tr>
                    <tr>
                        <th>Arrival</th>
                        <td>18:00, 19.09.2017</td>
                    </tr>
                    <tr>
                        <th>Tariff</th>
                        <td>Economy</td>
                    </tr>
                    <tr>
                        <th>Carriers reference number</th>
                        <td>KD95RR</td>
                    </tr>
                    <tr>
                        <th>Ticket type</th>
                        <td>ETK</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- list end -->
    </div>
</body>
<script src="test.js"></script>

</html>