.list input:checked~.list_detail {
    height: auto;
}

input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
}

/*list_judul*/
.list_judul {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 2px;

}

.list_judul h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    font-size: large;
}

.list_judul p {
    margin: 0px;
}

.list_judul a {
    text-decoration: none;
}

.list progress {
    width: 100%;
    height: 4pt;
}


/*list_detail*/
.list_detail {
    height: 0;
    overflow: hidden;
}

.list_detail img {

    height: 200pt;
}

.list_detail th {
    text-align: right;
}

.title .right {
    font-style: italic;
    font-size: x-small;
    float: right
}

.title .left {
    font-style: italic;
    font-size: x-small;
    float: left;
}