@media screen and (max-width: 700px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidenav a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }

    .list_detail_img {
        width: 100%;

    }

    .list_detail_table {
        width: 100%;

    }

}

@media screen and (max-width: 400px) {
    .sidenav a {
        text-align: center;
        float: none;
    }

    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}