.sidenav {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: grey;
    position: fixed;
    height: 100%;
    overflow: auto;

}

.sidenav a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px;
    text-decoration: none;
    border-bottom: solid;
}