

body {
}
    /* social media icon stuff */
.social-group {
    margin: 100px;
    height: auto;
}

.social-icon {
    width: 50px;
    -webkit-filter: drop-shadow(3px 3px 2px black);
            filter: drop-shadow(3px 3px 2px black);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.social-icon:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    padding-left: 5px;
    padding-right: 5px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.primary-btn {
  background-image: -moz-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);
  background-image: -webkit-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);
  background-image: -ms-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);
}

.primary-btn {
  line-height: 36px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

.primary-btn {
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.primary-btn:hover {
  background: transparent;
  color: #235ee7;
  border-color: #235ee7;
}a {
  color: #FFFFFF;
  text-decoration: none;
}

.primary-btn {
  background-image: -moz-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);
  background-image: -webkit-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);
  background-image: -ms-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);
}

.primary-btn {
  line-height: 36px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

.primary-btn {
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.primary-btn:hover {
  background: transparent;
  color: #235ee7;
  border-color: #235ee7;
}

/* SUPPORT BUTTON */
.support-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    padding: 15px
}

.support-button,
.support-button:before {
    background: #3347db;
    border: 1px solid #4c5070;
    transition: all .14s ease-in-out
}

.support-button:before {
    content: " Gabung Discord! Pencet Disini";
    position: absolute;
    bottom: 110%;
    border-radius: 6px;
    padding: 3px 15px 3px 12px;
    right: 0;
    min-width: 224px;
    text-align: right;
    color: #f2f6f9;
    font-weight: 700;
    transform: translateX(20px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    opacity: 0
}

.support-button svg {
    display: block;
    width: 40px;
    transition: all .14s ease-in-out;
    color: #bac7ce
}

.support-button:hover {
    background: #3c405b;
    border-color: #565b7f
}

.support-button:hover svg {
    color: #fff;
    filter: drop-shadow(rgba(243, 98, 80, .4) 0 0 15px)
}

.support-button:hover:before {
    opacity: 1;
    transform: translateX(0)
}

/* END-SUPPORT BUTTON */

/* BUTTON UNTUK QRIS*/
a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .primary-btn {
    background-image: -moz-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);
    background-image: -webkit-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);
    background-image: -ms-linear-gradient(0deg, #235ee7 0%, #4ae7fa 100%);
  }
  
  .primary-btn {
    line-height: 36px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
  }
  
  .primary-btn {
    color: #fff;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .primary-btn:hover {
    background: transparent;
    color: #235ee7;
    border-color: #235ee7;
  }
/* END-BUTTON UNTUK QRIS*/





@media screen and (max-width:1100px) {
    .content {
        float: none;
        display:block;
    }

    .logo-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0px;
        padding-top: 15px;
    }

    .info-container {
        display: block;
    }

    .social-icon {
        width: 85px;
    }

    .social-group {
        margin: 10px;
    }

    #name {
        font-size: 15vw;
    }

    #desc {
        font-size: 4vw;
    }
}
